@use 'general-kenos' as tokens;

#sticky-footer-plan-recomendado {
    height: 65px;
    backdrop-filter: blur(10px);
    z-index: 998;
    display: flex;
    justify-content: center;  
    align-items: center;  
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.80);
    color: var(--blanco);
    padding-top: 7px;
  }

  #sticky-footer-plan-recomendado .sticky-footer {
        justify-content: center;
        display: flex;
        align-items: baseline;
        padding-bottom: 5px;
  

        p {       
            margin: 0px;
            padding-top: 15px;
            @include tokens.text-preset-responsive(2);     
            @include tokens.roboto-regular; 
        }

        .promo {
            @include tokens.roboto-medium;
        }

}

 
#sticky-footer-plan-recomendado .sticky-footer .btn-sticky {
        margin-left: 24px !important;
        padding: 9px 23px !important;
        border-radius: 50px !important;
    }

    #sticky-footer-plan-recomendado .sticky-footer .btn-sticky a {
        color: var(--textButtonPrimary);
        @include tokens.text-preset-responsive(3);
        @include tokens.roboto-medium;
    }

    #sticky-footer-plan-recomendado .section_sticky_footer_container:hover {
        background-color: var(--azul-oscuro);

        & .sticky-footer .btn-sticky {
            background-color: transparent;
            border: solid 1.5px #019BEF;
        }
    } 
    
    #sticky-footer-plan-recomendado .section_sticky_footer_container.mct {
        .sticky-footer .btn-sticky {
            padding: 0 !important;

            a {
                button {
                    all: unset;
                    padding: 11px 25px !important;
                }
            }
        }
    }

@media (max-width:992px) {

    #sticky-footer-plan-recomendado {
        display: block;
        height: 65px;
        padding: 0;
    }
    #sticky-footer-plan-recomendado .sticky-footer {
        border: none;
        display: flex;    
        justify-content: space-around; 
        align-items: center;
        padding: 2px;    
        
        p {
            padding-top: 0; 
            width: 190px;
        }
    }


    #sticky-footer-plan-recomendado .sticky-footer .btn-sticky {
        background-color: #019BEF;
        padding: 12px 25px;
        margin-left: 0 !important;
    }
    #sticky-footer-plan-recomendado .sticky-footer .btn-sticky a {
        color: var(--blanco);
    }

    }
