@use 'general-kenos' as tokens;


// Estilos generales para la LPs
body {
  background: var(--backgroundSkeleton);
}

#main__app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: auto;
  background: #FFF;
  padding-bottom: 20px;
  margin: 0 auto 100px;
  border-radius: 0 0 12px 12px;
  border: 1px solid var(--border);
  border-top: none;

  .plan__app-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 640px;
    margin: 0 20px;
    padding: 20px;
    background: #FFF;
    border: 1px solid var(--border);
    border-radius: 5px;
    overflow: hidden;
    
    // Contenedor izquierdo
    .oferta__container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;
      width: 333px;

      // Capacidad y ahorro
      .datos__plan {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;

        .capacidad-plan {
          @include tokens.regular;
          @include tokens.text-preset-responsive(6, 8);
          color: var(--textPrimary);
        }
  
        .cucarda {
          @include tokens.roboto-medium;
          @include tokens.text-preset-responsive(1, 2);
          color: var(--inverse);
          background-color: var(--highlight);
          padding: 4px 4px 3px 4px;
          border-radius: 4px;
        }
        
        .ahorro {
          @include tokens.roboto-medium;
          @include tokens.text-preset-responsive(1, 2);
          color: var(--infoHigh);
          background-color: var(--brandLow);
          padding: 4px 4px 3px 4px;
          border-radius: 4px;
        }
      }

      // Que incluye + iconos
      .detalles__plan {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        margin-top: 8px;

        .box {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
          padding-left: 16px;

          // Iconos
          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background: var(--celeste-accesible);
            border-radius: 50px;

            div {
              width: 20px;
              height: 20px;
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #fff;
            }
            
            .regalo {
              mask-image: url(/imagenes/icons-Kenos/regular/gift-regular.svg);
            }
            .mct {
              mask-image: url(/imagenes/icons-Kenos/regular/smart-wifi-regular.svg);
            }
            .whatsapp {
              mask-image: url(/imagenes/icons-Kenos/regular/whatsapp-regular.svg);
            }
          }
          
          &:nth-child(3) .icon-container {
            background: var(--success);
          }
          // Fin Iconos

          .texto {
            max-width: 260px;

            .titular {
              @include tokens.roboto-bold;
              @include tokens.text-preset-responsive(1, 2);
              color: var(--textPrimary);
            }
            
            .bajada {
              @include tokens.roboto-regular;
              @include tokens.text-preset-responsive(1, 2);
              color: var(--textSecondary);
            }
          }
        }
      }

      // Linea divisora
      .divider {
        width: 100%;
        height: 1px;
        background: var(--divider);
        border-radius: 24px;
        margin: 8px 0;
      }

      // Beneficios
      .caracteristicas__plan {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        padding-left: 16px;
        
        .box {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;

          .bajada {
            @include tokens.roboto-regular;
            @include tokens.text-preset-responsive(1, 2);
            color: var(--textPrimary);
            
            a {
              text-decoration: underline;
              color: var(--textLink);
              text-wrap: wrap;
            }
          }
        }
      }

    }

    // Contenedor derecho
    .precio__container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .container {
        @extend .precio__container;

        .precio__antes {
          text-decoration: line-through;
        }

        .precio__antes, .precio__ahora {
          @include tokens.roboto-regular;
          @include tokens.text-preset-responsive(1);
          color: var(--textSecondary);
          
          .precio {
            @include tokens.bold;
            @include tokens.text-preset-responsive(6);
            color: var(--textPrimary);
          }
        }
      }

      .btn__llamame {
        all: unset;
        width: -webkit-fill-available;
        @include tokens.roboto-medium;
        @include tokens.text-preset-responsive(2, 3);
        color: var(--textButtonPrimary);
        background-color: var(--success);
        text-align: center;
        border-radius: 4px;
        padding: 8px 10px;
        border: none;
        cursor: pointer;
        margin-top: 12px;
      }
    }
  }

  .legales {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    padding-left: 20px;
    gap: 12px;
    margin-top: 12px;

    span {
      @include tokens.roboto-regular;
      @include tokens.text-preset-responsive(1);
      color: var(--textSecondary);
    }
  }
}

// Estilos solo de prepago
#main__app-container.prepago {
  .plan__app-container {
    .oferta__container {
      .detalles__plan {
        .box {
          gap: 10px;
          align-items: center; 
  
          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background: var(--celeste-accesible);
            border-radius: 50px;

            div {
              width: 20px;
              height: 20px;
              mask-size: contain;
              mask-repeat: no-repeat;
              background-color: #fff;
            }
            
            .gift {
              mask-image: url(/imagenes/icons-Kenos/regular/gift-regular.svg);
            }
            .wp {
              mask-image: url(/imagenes/icons-Kenos/regular/whatsapp-regular.svg);
            }
            .phone {
              mask-image: url(/imagenes/icons-Kenos/regular/call-landline-regular.svg);
            }
            .heart {
              mask-image: url(/imagenes/icons-Kenos/filled/heart-filled.svg);
            }
          }
          
          &:nth-child(2) .icon-container {
            background: var(--success);
          }

        }
      }
      .caracteristicas__plan {
        .titular {
          @include tokens.roboto-medium;
          @include tokens.text-preset-responsive(2);
          color: var(--textPrimary);
        }
      }
    }
  
    .precio__container  {
      a {
        width: fit-content;
        z-index: 99;
        margin:0 auto
      }
    }
  }
}

@media (max-width: 992px) {
  body { background-color: #FFF; }

  #main__app-container {
    width: 100%;
    max-width: 328px;
    border: none;
    
    .plan__app-container {
      width: 328px;
      padding: 0;
      border-radius: 8px !important;

      // Oferta Gigas
      .oferta__container {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        gap: 12px;

        // Caja azul
        .datos__plan {
          width: 100%;
          height: 152px;
          justify-content: center;
          padding-left: 20px;
          gap: 12px;
          background-color: var(--brand);
          border-radius: 8px 8px 0 0;

          .capacidad-plan {
            color: var(--textPrimaryInverse);
          }

          .cucarda {
            background-color: var(--inverse);
            color: var(--highlightHigh);
          }
        }

        .detalles__plan, .caracteristicas__plan { padding: 0 16px; }
        
        .detalles__plan {
          gap: 9px;
          .box {
            align-items: start;
            padding: 0;
            img { width: 24px; }

            .icon-container {
              scale: .8;
              margin-right: -4px;
            }

            .texto { max-width: 231px; }
          }
        }

        .divider { margin: 0; }
        
        .caracteristicas__plan { padding-bottom: 20px;}
      }

      // Precio sticky
      .precio__container {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 88px;
        padding: 0 20px;
        border-top: 1px solid var(--border);
        background-color: var(--appBarBackground);

        .container {
          flex-direction: column !important;
          align-items: start !important;
        }

        .btn__llamame {
          width: fit-content;
          height: 40px;
          margin: 0;
          z-index: 99;
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

    }

    .legales {
      width: 100%;
      padding-left: 0;
    }
  }
}

// Estilos especificos de promos/movil/alta-de-linea
#box__top {
  width: 100%;
  height: 133px;
  display: flex;
  align-items: flex-end;
  background-color: var(--brand);
  background-image: url(/imagenes/porta-kenos/shapes-bg.svg);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  margin-top: 80px;

  .volver {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 680px;
    height: 82px;
    background: #FFF;
    margin: 0 auto;
    border-radius: 12px 12px 0 0;
    border: 1px solid var(--border);
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;
  
    img {
      filter: grayscale(1) brightness(0);
      mask-image: url('/imagenes/icons-Kenos/regular/arrow-back-regular.svg');
    }

    span {
      @include tokens.roboto-regular;
      @include tokens.text-preset-responsive(4);
      color: var(--textPrimary);
    }
  }
}

@media (max-width: 992px) {
  .section_main_header { display: none !important; }

  #box__top {
    margin: 0;
    height: 56px;
    background-color: #00a9e0;
    background-image: none;

    .volver {
      border: none;
      border-radius: 0;
      width: 100%;
      height: 100%;
      background-color: #00a9e0;

      img {
        filter: grayscale(1) brightness(100);
      }
      
      span {
        color: var(--textPrimaryInverse);
      }
    }
  }
}