@use 'general-kenos' as tokens;

.banner-pospago-porta {
  width: 100%;
  margin-top: 115px;
  background-color: var(--background);
  padding: 16px 72px;

  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .contenedor-izq {
      max-width: 500px;

      .tag-segmento {
        @include tokens.text-preset-responsive(1,2);
        @include tokens.roboto-medium;
        border-radius: 4px;
        width: fit-content;
        color: var(--brand);
        background-color: var(--brandLow);
        padding: 4px;
      }

      .titulo {
        @include tokens.text-preset-responsive(7,6);
        @include tokens.regular;
        color: var(--textPrimary);
        margin-top: 8px
      }

      .bajada {
        @include tokens.text-preset-responsive(3);
        @include tokens.roboto-regular;
        color: var(--textSecondary);
        margin-top: 8px;
      }

      .formulario-banner {
        margin-top: 16px;
      }
    }

    .contenedor-der {
      width: 100%;
      max-width: 704px;
      height: 266px;
      background-color: #FFC5A8;
      border:16px solid #fffaf5;
      border-radius: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 16px 45px;

      .contenedor-texto {
        @include tokens.movistar-bold;
        @include tokens.text-preset-responsive(7,6);
        line-height: 40px;
        color: #0066FF;
        text-align: left;
      }
      .cucarda {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 5px;
    
        span:first-child {
          text-align: left;
          @include tokens.movistar-medium;
          @include tokens.text-preset-responsive(4,3);
          color: #262423;
        }
        span:nth-child(2) {
          text-align: left;
          @include tokens.movistar-bold;
          @include tokens.text-preset-responsive(9);
          line-height: 50px;
          color: #262423;
        }
        span:nth-child(3) {
          text-align: left;
          @include tokens.movistar-medium;
          @include tokens.text-preset-responsive(4,1);
          color: #262423;
          padding: 1px 5px;
          background-color: #FFFAF5;
        }
      }
      .img-cupido{
        width: 266px;
        height: 255px;
        transform: translate(309px, 2px);
        z-index: 1;
        position: absolute;

        img{
            width: 100%;
            height: auto;
        }
      }
    }
  }
}
@media (max-width:1024px) {
  .banner-pospago-porta{
    .contenedor{
      .contenedor-der{
        padding: 16px 20px;
        .img-cupido{
          width: 250px;
          height: auto;
          transform: translate(210px, 16px);
        }
      }
    }
  }
}

@media (max-width: 768px) {

 .banner-pospago-porta {
    padding: 0;
    margin-top: 105px;

    .contenedor {
      flex-direction: column-reverse;
      gap: 16px;

      .contenedor-izq {
        padding: 0 16px 16px;

        .tag-segmento {
          
          padding: 2px 4px;
        }
      }

      .contenedor-der {
        border-radius: 16px;
        border:8px solid #fffaf5;
        background-position: center;
        height: 180px;
        padding: 6px 20px;

        .contenedor-texto {
          line-height: 28px;
        }
        .cucarda {
          span:first-child {
            line-height: 20px;
          }
          span:nth-child(2) {
            line-height: 34px;
          }
        }
        .img-cupido{
          width: 180px;
          height: auto;
          transform: translate(165px, 5px);
        }
      }
    }    
  }
}

