@use 'general-kenos' as tokens;

@mixin flexCenter($direct) {
  display: flex;
  flex-direction: $direct;
  justify-content: center;
  align-items: center;
}

.banner__form-hogar {
  width: 100%;
  margin-top: 80px;
  background-color: var(--background);

  .contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;

    .texto {
      display: flex;
      flex-direction: column;
      align-items: start;
      color: var(--textPrimary);
      padding: 16px;

      .tag {
        color: var(--infoHigh);
        background-color: var(--brandLow);
        @include tokens.text-preset-responsive(1,2);
        @include tokens.roboto-medium;
        display: flex;
        gap: 4px;
        padding: 4px 8px 4px 4px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }

      .pre_titulo {
        @include tokens.text-preset-responsive(3);
        @include tokens.roboto-regular;
      }
      
      .titulo {
        @include tokens.text-preset-responsive(7,6);
        @include tokens.regular;
        max-width: 600px;
        margin-top: 8px;
      }
      
      .bajada {
        @include tokens.text-preset-responsive(3);
        @include tokens.roboto-regular;
        color: var(--textSecondary);
        max-width: 510px;
        margin: 30px 0px 10px;
      }
    }
    
    .right-container {
      position: relative;
      background-image: url("/imagenes/hogar_kenos/banner/verano/bg-verano-hogar-general-desk.png");
      width: 564px;
      min-height: 317px;
      object-fit: cover;
      background-size: cover;
      background-position: right, center;
      border-radius: 16px;
      color: var(--textSecondaryInverse);
      display: flex;
      padding: 25px;
      .contenedor-principal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        .box-top {
          width: 227px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .box-up {
            padding: 0px 5px;
            background-color: #0066FF;
            @include tokens.text-preset-responsive(4,5);
            @include tokens.movistar-medium;   
          }  

          .box-middle {
            color: var(--textPrimaryInverse);
            @include tokens.movistar-bold;
            text-align: center;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include tokens.text-preset-responsive(10);
            gap: 5px;
          }
        }

        .box-down {
          width: fit-content;
          color: #262433;
          padding: 0px 5px;
          background-color: #D3EEFF;
          display: inline-block;
          @include tokens.text-preset-responsive(4, 3);
          @include tokens.movistar-regular;
        }
      }      

      .info-sin-iva {
        margin: 10px 0 0 0;
        @include tokens.text-preset-responsive(1);
        @include tokens.movistar-regular;
        color: #262433;
        text-align: left;
      }
    }
  }
}

@media (max-width: 992px) {

.banner__form-hogar {
  margin-top: 82px;

    .contenido {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: start;
      gap: 0px;

      .texto {
        margin-top: 18px;
        gap: 8px;        
        .titulo {          
          margin-top: 0;
          text-wrap: pretty;
        }
        
        .bajada {
          margin: 0px;
          margin-bottom: -5px;
        }

      }

      .right-container {
        background-image: url("/imagenes/hogar_kenos/banner/verano/bg-verano-hogar-small-mob.png");
        width: 100%;
        min-height: 206px;
        border-radius: 0px;
        padding: 0px 0 12px;

        .contenedor-principal {
          margin: 26px 0 0 16px;
          .box-top {
            min-height: 70px;
            &::before {
              padding: 1px; 
            }
            .box-up {
              padding: 2px 5px;
            }
            .box-middle {
              padding: 0 10px 0 6px;
                div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 5px;
                margin-top: 5px;

                span:first-child {
                  line-height: 22px;
                }

                span:last-child {
                  font-size: 10px;
                  line-height: 18px;
                }
              }
            }
          }
          .box-down {
            padding: 2px 4px;
          }
        }

        .info-sin-iva {
          margin: 5px 0 0 0;
        }
      }
    }
  }
}
