@use 'general-kenos' as tokens;

.fc-mct-oferta .container-general .container-left {
  width: 496px;
  height: 279px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D3EEFF;
  border-radius: 16px;
}

.fc-mct-oferta {
  padding: 0px !important;
  background-color: var(--backgroundContainer)!important;
  .container-general {
    border-radius: 16px;
    border: 1px solid var(--border);
  }
  .leyenda {
    @include tokens.text-preset-responsive(1);
    @include tokens.roboto-regular;
    color: var(--textSecondary);
    text-align: center;
    padding-top: 32px;
  }
}
.fc-mct-oferta .container-general .container-left-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 25px;
}
.fc-mct-oferta .container-general .container-text-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.fc-mct-oferta .container-general .container-text-up .fibra,
.fc-mct-oferta .container-general .container-text-up .movil {
  width: fit-content;
  height: 105px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.fc-mct-oferta .container-general .container-text-up .divisor {
  width:3px;
  height: 114px;
  background-color: #0066ff;
}
.fc-mct-oferta .container-general .container-text-up .fibra div:nth-child(1),
.fc-mct-oferta .container-general .container-text-up .movil div:nth-child(1) {
  color: #262433;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  font-family: 'MovistarSans-Medium';
}

.fc-mct-oferta .container-general .container-text-up .fibra div:nth-child(2),
.fc-mct-oferta .container-general .container-text-up .movil div:nth-child(2) {
  color: #0066FF;
  font-size: 48px;
  line-height: 52px;
  font-family: 'Movistarsans-Bold';
}
.fc-mct-oferta .container-general .container-text-up .fibra div:nth-child(3),
.fc-mct-oferta .container-general .container-text-up .movil div:nth-child(3){
  color: #262433;
  font-size: 22px;
  line-height: 28px;
  font-family: 'MovistarSans-Regular';
  background-color: #FFFAF5;
  padding: 2px 5px;
}

.fc-mct-oferta .container-general .container-text-down {
  color:#262433;
  text-align: left;
  width:fit-content;
}

.fc-mct-oferta .container-general .container-text-down .oferta {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: 'Movistarsans-Bold';
}
.fc-mct-oferta .container-general .container-text-down .oferta span:nth-child(1),
.fc-mct-oferta .container-general .container-text-down .oferta span:nth-child(2) {
  font-size: 72px;
  line-height: 80px;
}
.fc-mct-oferta .container-general .container-text-down .oferta span:nth-child(3) {
  font-size: 32px;
  line-height: 40px;
}
.fc-mct-oferta .container-general .container-text-down .sin_impuestos {
  font-family: 'MovistarSans-Light';
  font-size: 17px;
  line-height: 22px;
  color:#262433;
}
@media (max-width: 992px) {
  .fc-mct-oferta .container-general .container-text-up .fibra div:nth-child(1),
  .fc-mct-oferta .container-general .container-text-up .movil div:nth-child(1) {
    font-size: 16px;
    line-height: 20px;
  }
  
  .fc-mct-oferta .container-general .container-text-up .fibra div:nth-child(2),
  .fc-mct-oferta .container-general .container-text-up .movil div:nth-child(2) {
    font-size: 32px;
    line-height: 40px;
  }

  .fc-mct-oferta .container-general .container-text-up .fibra div:nth-child(3),
  .fc-mct-oferta .container-general .container-text-up .movil div:nth-child(3) {
    font-size: 14px;
    line-height: 20px;
  }

  .fc-mct-oferta .container-general .container-text-down .oferta span:nth-child(1),
  .fc-mct-oferta .container-general .container-text-down .oferta span:nth-child(2) {
  font-size: 48px;
  line-height: 54px;
  }
  .fc-mct-oferta .container-general .container-text-down .oferta span:nth-child(3) {
    font-size: 20px;
    line-height: 24px;
  }
  .fc-mct-oferta .container-general .container-text-down .sin_impuestos {
    font-size: 12px;
    line-height: 18px;
  }
  .fc-mct-oferta {
    padding: 24px 16px 0px !important;
  }
  .fc-mct-oferta .container-general .container-left {
    height: 210px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .fc-mct-oferta .container-general .container-text-up .fibra,
  .fc-mct-oferta .container-general .container-text-up .movil {
    height: 80px;
  }
  .fc-mct-oferta .container-general .container-text-up .divisor {
    height: 85px;
  }
 
  .fc-mct-oferta .container-general .container-text-down .oferta {
    padding-top: 3px;
    margin-bottom: -4px;
  }
}
/*# sourceMappingURL=styles-floating-card-mct-oferta.scss.map */
