@use 'general-kenos' as tokens;

.leyenda-btn-demora {
  font-size: 16px !important;
  color: #fff;
  font-weight: 400 !important;
  position: relative;
  left: 10px;
  line-height: 33px;
}

.whatsapp-modal-demora {
  width: 44px;
  height: 25px;
  position: relative;
  right: -8px;
}

// ICONOS SVG

%icon-mask-grey-modales {
  min-width: 28px;
  height: 28px;
  mask-size: cover;
  background-color: var(--neutralHigh);
  display: block;
}

.close-regular-modales {
  @extend %icon-mask-grey-modales;
  mask-image: url("/imagenes/icons-Kenos/regular/close-regular.svg");
}
