@use 'general-kenos' as tokens;


/*  Inicio estilos Buscador*/
  .active-desktop, .active-tablet{
      border-bottom: 2px solid #007bff;
      width: calc(78vw);
      
  }

@media (max-width: 1349px){
    .active-desktop, .active-tablet{
      width: calc(100vw - 254px);
      
    }
  }
  
  #app-buscador-menu-desktop input, #app-buscador-menu-tablet input{
    border:0;
    padding-left: 16px;
  }
  #app-buscador-menu-desktop input::placeholder, #app-buscador-menu-tablet input::placeholder{
    font-family: 'Roboto',sans-serif;
    color: #50535A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .input-active-desktop, .input-active-tablet{
    width: calc(100% - 120px);    
  }
  .input-active-desktop:focus, .input-active-tablet:focus{
    outline: none;
    border: none;
  }

  #boton-cerrar:hover {
  background-color: var(--brandLow);
  border: 1px solid var(--borderSelected);
  img{
    background: var(--brandLow);
  }
}
  #boton-cerrar img {
    height: 24px;
    width: 24px;
    background: #F6F6F6;
    border-radius: 100%;
  }

/* Fin estilos buscador*/


.sub-header-segmento {
  background-color: var(--backgroundBrandSecondary);
  height: 44px;
}

/* Estilo general del nav */
nav,
.mobile-toggle {
//   background: white;
//  border-bottom: 1px solid var(--border);
 @include tokens.roboto-regular;
 position: fixed;
 top: 44px;
 width: 100%;
 z-index: 9;

  .logoWrapper {
    margin-right: .5rem;
    img {
      max-height: 48px;
      max-width: 48px;
  }
    }
}


// ----------------------
// MENU DESKTOP
// ----------------------
.menu-desktop {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  width: 100%;
  position: fixed;
  top: 44px;
  z-index: 10;
  border-bottom: 1px solid var(--divider);

  .menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 22px;
  }

  .menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    padding-right: 22px;

    button {
      height: 44px;
      width: 44px;
      border-radius: 100%;

      &:hover {
        background-color: var(--brandLow);
        border: 1px solid var(--borderSelected);
      }
    }
  }
}

// Ocultar en tablet y mobile
@media (max-width: 1024px) {
  .menu-desktop { display: none; }
}



// ----------------------
// MENU TABLET
// ----------------------
.menu-tablet {
  display: none;

  .menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;

    button {
      height: 44px;
      width: 44px;
      border-radius: 100%;

      &:hover {
        background-color: var(--brandLow);
        // border: 1px solid var(--borderSelected);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-tablet {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    border: 1px solid var(--border);
    padding-right: 16px;
    position: fixed;
    width: 100%;
    top: 44px;
    z-index: 10;

    .menu-left {
      position: relative;
      left: 22px;

      button {
        font-size: 18px;
        @include tokens.roboto-regular;
        color: var(--textPrimary);
        display: flex;
        align-items: center;
        gap: 4px;
        padding-left: 24px;
      }
    }
  }

  .menu-mobile,
  .submenu-mobile {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    max-width: 512px;
    background-color: white;
    z-index: 100;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out !important;
  }

  // Menú entra desde la izquierda
  .menu-mobile {
    left: 0;
    transform: translateX(-100%);

    &.active {
      position: fixed;
      top: 80px;
      transform: translateX(0%);
    }
  }

  // Submenú entra desde la izquierda también
  .submenu-mobile {
    left: 0;
    transform: translateX(-100%);
    
    &.active { transform: translateX(0%); }
  }

}


// ----------------------
// BOTÓN MI MOVISTAR
// ----------------------
.menu-right .btn-mimovistar {
  text-decoration: none;
  border-radius: 100px;
  color: var(--inverse);
  background-color: var(--celeste);
  cursor: pointer;
  @include tokens.roboto-medium;
  font-size: 14px;
  padding: 7px 15px;
  margin-right: 16px;
}


.mobile-toggle { border-bottom: 1px solid var(--divider); }

.subrayado-active { border-bottom: 1px solid var(--divider); }

// ----------------------
// MENU ITEM
// ----------------------
.menu-item {
  position: relative;
  color: #212529;
  @include tokens.roboto-regular;
  @include tokens.text-preset-responsive(2);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .375rem .75rem;

  &:hover {
    border-bottom: 4px solid var(--borderSelected);
    padding: 25px 0.75rem;
    cursor: pointer;

    button, a {
      @include tokens.roboto-bold;
      cursor: pointer;
    }

    .submenu {
      display: block;
    }
  }

  a, button {
    color: #212529;
    @include tokens.roboto-regular;
    @include tokens.text-preset-responsive(2);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 4px;

    img {
      margin-left: 4px;
    }
  }
}

// Chevron
.menu-item:hover .chevron-menu:after {
  content: " ";
@extend %icon-mask-grey-nav;
mask-image: url(/imagenes/icons-Kenos/regular/chevron-top-regular.svg);
  position: relative;
}

.chevron-menu:after {
  content: " ";
  @extend %icon-mask-grey-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/chevron-down-regular.svg);
  position: relative;
}

nav {
  // position: relative;
  height: 80px;
  z-index: 99;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}


// ----------------------
// SUBMENU DESKTOP
// ----------------------
.submenu {
  display: none;
  position: absolute;
  background: white;
  top: 80px;
  left: 0;
  width: 320px;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  border-radius: 0px 0px 8px 8px;
  padding: 10px 0;
  z-index: 10;
  border: 1px solid #eee;

  a {
    display: flex;
    text-decoration: none;
    padding: 16px;
    gap: 4px;
    align-items: flex-start;

    .titulo {
      @include tokens.text-preset-responsive(3);
      @include tokens.roboto-regular;
      color: #212529;
    }

    .subtitulo {
      @include tokens.text-preset-responsive(2);
      @include tokens.roboto-regular;
      color: #737578;
    }

    .grilla a {
      @include tokens.roboto-regular;
      @include tokens.text-preset-responsive(2);
      color: var(--textPrimary);
    }

    &:hover {
      background: var(--brandLow);

      .titulo {
        @include tokens.roboto-medium;
      }

      .subtitulo {
        color: #212529;
      }
    }
  }
}



// ----------------------
// MENU MOBILE
// ----------------------
.menu-mobile {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0 1em;
  height: 100vh;

  div, a {
    min-height: 73px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    justify-content: space-between;
    color: #212529;
    text-decoration: none;
    cursor: pointer;

    img {
      width: 16px;
      height: auto;
    }
  }

  // &.active {
  //   display: flex;
  // }
}

.mobile-toggle {
  border-bottom: 1px solid var(--divider);
}

.mobile-menu-close {
  background-color: var(--backgroundBrandSecondary);
  color: var(--textPrimaryInverse);
  align-items: center;
  justify-content: space-between;
}



// ----------------------
// SUBMENU MOBILE
// ----------------------
.submenu-mobile {
  display: none;
  background: white;
  padding: 1em;
  height: calc(100vh - 80px);

  &.active {
    display: block;
  }

  a {
    display: flex;
    text-decoration: none;
    padding: 16px;
    gap: 4px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    min-height: 45px;

    .titulo {
      @include tokens.text-preset-responsive(3);
      @include tokens.roboto-regular;
      color: #212529;
    }

    .subtitulo {
      @include tokens.text-preset-responsive(2);
      @include tokens.roboto-regular;
      color: #737578;
    }
  }
}



// ----------------------
// RESPONSIVE MOBILE (max 767px)
// ----------------------
@media (max-width: 767px) {
  .menu-desktop,
  .menu-tablet {
    display: none;
  }

  .mobile-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0;
    background: #FFF;

    .logoWrapper { padding-left: 10px; }

    .menu-right {
      display: flex;
      align-items: center;
    }

    .contador-notificacion {
      transform: translate(59px, -13px);
    }
  }

  .mobile-menu-close {
    display: flex;
    height: 48px;
    margin-top: -48px;
    width: 100%;
    padding: 0 10px;
  }
}



// ----------------------
// MARCAS CONTAINER
// ----------------------
.marcas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 32px;

  .title {
    @include tokens.roboto-regular;
    font-size: 14px;
    margin-bottom: 16px;
    color: var(--gris)1;
  }

  .grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-left: -15px;
    margin-right: -15px;

    .item {
      height: 40px;
      width: 45%;
      padding: 4px;
      font-size: 18px;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--celeste);
        color: var(--inverse);

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

// ====================================
// SUB-HEADER AZUL
// ====================================

.sub-header-segmento {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: var(--backgroundBrandSecondary);
  z-index: 2; // superior al menú

  .buttons-desktop {
    padding-left: 22px;
  }

  .individuos:hover,
  .empresas:hover {
    outline: 1.5px solid var(--borderSelected);
  }

  .individuos {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    @extend %buttons;
    @include tokens.roboto-bold;
    margin-right: 15px;        
  }

  .empresas {
    background-color: transparent;
    @extend %buttons;
    @include tokens.roboto-regular;
  }
}

// ====================================
// Placeholder para botones reutilizables
// ====================================

%buttons {
  cursor: pointer;
  font-size: 14px;
  color: var(--textPrimaryInverse);
  padding: 4px 16px;
  border: none;
  border-radius: 8px;        
}

// ====================================
// Dropdown Mobile
// ====================================

@media (max-width: 767px) {
  .buttons-desktop { display: none; }
}

@media (min-width: 768px) {
  .dropdown-mobile { display: none; }
}

// Esto muestra el dropdown individuos/empresas
.dropdown-mobile { position: relative; }

.dropdown-toggle {
  @extend %buttons;
  @include tokens.roboto-medium;
  @include tokens.text-preset-responsive(2);
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;

  img {
    width: 16px;
    margin-left: 8px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 10;
  @include tokens.roboto-medium;

  button {
    background-color: var(--backgroundBrandSecondary);
    color: var(--textPrimaryInverse);
    @include tokens.text-preset-responsive(2);
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #FFFFFF;
    @include tokens.roboto-medium;
  }
}


// ====================================
// ANIMACION DE TRANSISION MENU
// ====================================

.menu-mobile,
.submenu-mobile {
  // position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  z-index: 100;
  transition: max-height 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(-100%);
  
  // &.active {
  //   transform: translateX(0%);
  // }
}

// Sin esto no abren los submenu
.menu-mobile.active, .submenu-mobile.active { pointer-events: auto; }
// Sin esto no abren los submenu

.mobile-menu-close {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  max-width: 512px;
  height: 80px;
  background-color: var(--backgroundBrandSecondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 199 !important;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateX(0%);
    position: fixed;
  }

  .volver {
    cursor: pointer;
    visibility: visible !important;
  }
}


@media (max-width: 767px) {
  .menu-mobile,
  .submenu-mobile {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    max-width: 512px;
    height: calc(100vh - 80px);
    background-color: white;
    z-index: 100;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  // Parte azul con la cruz (Correccion)
  .mobile-menu-close { top: 50px; }
  
  // Menú entra desde la derecha (Aca oculta el contenido)
  .mobile-menu-close, .menu-mobile {
    right: 0;
    transform: translateX(150%);
    left: unset;
    max-width: unset;
    padding: 0;
  }


  // Submenú entrada
  .submenu-mobile {
    right: 0;
    transform: translateX(-100%);
    max-width: unset;
    padding: 0;
    .d-flex {
      height: 72px;
      padding: 0 16px;
      align-items: center;
      gap: 16px;
    }
  }

  // Aca muestra en pantalla el contenido
  .menu-mobile.active,
  .submenu-mobile.active {
    transform: translateX(0%);
  }
  // Submenú entrada

  // Correccion
  .menu-mobile {
    div, a {
      padding: 0 16px;
    }
  }
}

@media (max-width: 768px) {
  .sub-header-segmento .original { display: none; }
}

.menu-item.activo {
  border-bottom: 4px solid #019BEF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 25px .75rem;
}

#mobileMenu { overflow-y: hidden; }


/**MEGAFONO*/
/* Contador de elementos */
.contador-notificacion {
    @include tokens.roboto-medium;
    border-radius: 20px;
    color: var(--textPrimaryInverse);
    background: var(--badge);
    width: 17px;
    height: 17px;
    outline: 2px solid vvar(--borderLight);
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 12px;
    position: absolute;
    transform: translate(-3px, -12px);
    padding-top: 1px;
    cursor: pointer;    
}

/* Boton de abrir (Icono megafono) */
#open { 
    cursor: pointer;
}

/* Boton de cierre */
.modal__header #close {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transform: translateX(150px);
}

/* Contenedor de todos los items */
.js__data-megafono {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    // padding: 0 20px;
}

/* Quitar solo la barra de scroll aca */
.modal__content ::-webkit-scrollbar { display: none; }

/* Tamañp y aparicion del modal */
.modal__content {
    position: fixed;
    top: 30px;
    right: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    width: 408px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px 0px 8px 8px;
    max-height: calc(100vh - 150px);
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: top 0.35s ease, opacity 0.35s ease;
    
    /* Modal abierto */
    &.open {
        top: 120px;
        opacity: 1;
        pointer-events: auto;
        border-top: 4px solid var(--controlActivated);
    }
    
    /* Modal cerrado */
    &.close {
        top: 30px;
        opacity: 0;
        pointer-events: none;
    }
    
   /* Flechita azul */
   .modal__header::after {
        display: block;
        width: 0;
        content: "";
        border: 15px solid transparent;
        border-bottom-color: var(--controlActivated);
        border-top: 0;
        position: relative;
        top: -31px;
        right: 150px;
    }
}


/* Contenedor de texto y boton de cierre */
.modal__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 374px;
    border-bottom: 1px solid rgba(222, 226, 230, .7);
    margin: auto;
    height: 57px;
    
    /* Novedades */
    .texto {
        @include tokens.roboto-medium;
        @include tokens.text-preset-responsive(3);        
        line-height: 24px;
        color: var(--textPrimary);
    }
}


/* Item individual */
.megafono__box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(222, 226, 230, .7);
    padding: 16px 0;
    
    &:last-child { border: none; }
    
    /* Tamaño imagen */
    .icono {
        width: 80px;
        height: 80px;
        margin-right: 16px;
    }
    
    /* Contenedor del texto */
    .texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include tokens.roboto-regular;
        text-align: left;
        max-width: 279px;
    }
    
    /* Titular del item */
    .texto .titular {
        @include tokens.roboto-regular;
        @include tokens.text-preset-responsive(3);  
        color: var(--textPrimary);
        margin: 0;
    }
    
    /* Descripcion del item */
    .texto .bajada {
        @include tokens.text-preset-responsive(2);
        color: var(--textSecondary);
    }
}


.js__data-megafono a:hover {
    background: var(--brandLow);
    .titular {
        @include tokens.roboto-medium;
    }
}

@media (min-width: 1361px) {
    .contador-notificacion {
        transform: translate(-140px, -12px);
    }
    .sub-header-segmento .menu-right .btn-mimovistar {
      display: none;
    }

}

@media (min-width: 1024px) and (max-width: 1366px) {
    .modal__header::after {
        right: 14px !important;
    }

     .sub-header-segmento {
    display: flex;
    justify-content: space-between;
     }
    
    .sub-header-segmento .menu-right .btn-mimovistar {
      position: relative;
      transform: none;   
    }

    .menu-desktop .menu-right .btn-mimovistar {
      display: none;
    }

 
}

@media (max-width: 992px) {

    .modal__header {
        max-width: unset;
        justify-content: center;
        background: #0B2739;
        height: auto;
        padding: calc(28px / 2) 0;
    }

    .modal__header .texto {
        color: #FFF !important;
        font-weight: 500;
    }

  .modal__header  #close {
        position: absolute;
        right: 16px;
        transform: unset !important;
    }

   .modal__header #close svg path { fill: #FFFFFF; }

    /* No mas flechita azul */
   .modal__header::after { display: none !important; }

    .modal__content {
        top: 0;
        width: 100%;
        height: auto;
        max-height: calc(100vh - 1px);
    }

    .modal__content.open { top: 0; border-top: none;}

    .modal__content .linea { display: none; }

    .megafono__box .icono {
        margin-right: 16px;
    }

    .megafono__box .texto {
        width: 100%;
        max-width: 290px;
    }

    .contador-notificacion {
        float: left;
        transform: translate(-4px, -9px)
    }

}


@media (max-width: 769px) {
  .menu-right .btn-mimovistar {
    font-size: 14px;
    padding: 7px 15px;
    margin-right: 12px;
  }

  .modal__content.open {
    border: none;
  }
}

@media (max-width: 380px) {
    .megafono__box .texto {
        width: 90%;
        max-width: 200px;
    }
}

%icon-mask-grey-nav {
  width: 24px;
  height: 24px;
  background-color: var(--textPrimary);
  mask-size: cover;
  display: block;
}

%icon-mask-brand-nav {
  width: 24px;
  height: 24px;
  background-color: var(--brand);
  mask-size: cover;
  display: block;
}

%icon-mask-white {
  min-width: 16px;
  height: 16px;
  background-color: var(--inverse);
  mask-size: cover;
  display: block;
}

.chevron-right-regular {
  @extend %icon-mask-grey-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/chevron-right-regular.svg);
}

.search-regular {
  @extend %icon-mask-grey-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/search-regular.svg);
}

.loudspeaker-regular {
  @extend %icon-mask-grey-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/loudspeaker-regular.svg);
}

.buy-devices-regular {
  @extend %icon-mask-grey-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/buy-devices-regular.svg);
}

.menu-regular {
  @extend %icon-mask-grey-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/menu-regular.svg);
}

.chevron-down-regular {
  @extend %icon-mask-white;
  mask-image: url(/imagenes/icons-Kenos/regular/chevron-down-regular.svg);
}

.chevron-left-regular{
  @extend %icon-mask-white;
  mask-image: url(/imagenes/icons-Kenos/regular/chevron-left-regular.svg);
}

.close-regular{
  @extend %icon-mask-white;
  mask-image: url(/imagenes/icons-Kenos/regular/close-regular.svg);
}

.tv-content-regular{
  @extend %icon-mask-brand-nav;
  mask-image: url(/imagenes/icons-Kenos/regular/tv-content-regular.svg);
}