@use 'general-kenos' as tokens;

@mixin flexCenter($direct) {
  display: flex;
  flex-direction: $direct;
  justify-content: center;
  align-items: center;
}

  .bg-grey {
  background-color: var(--backgroundAlternative);
  }


#fibra__tener {
  width: 100%;
  height: auto;
  @include flexCenter(column);
  gap: 60px;
  padding: 80px 72px;

  
  .titulo {
    @include tokens.text-preset-responsive(6);
    @include tokens.regular;
    text-align: center;
    color: var(--textPrimary);
  }
  .bajada {
    @include tokens.text-preset-responsive(3);
    @include tokens.roboto-regular;
    text-align: center;
    color: var(--textSecondary);
    margin: 0;
  }
  
  .main__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 24px;
    
    .bloque,
    .bloque_mb_expandido {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      }
      
      .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        
        .titular {
          @include tokens.text-preset-responsive(4);
          @include tokens.roboto-regular;
          text-align: center;
          color: var(--textPrimary);
          margin: 0;
        }
        
        .descripcion {
          @include tokens.text-preset-responsive(2);
          @include tokens.roboto-regular;
          text-align: center;
          color: var(--textSecondary);

          a {
                color: var(--textLink);
                text-decoration: underline;
                @include tokens.text-preset-responsive(2);
                @include tokens.roboto-regular;
            } 

          span {
            @include tokens.roboto-medium;
          }
        }
      }

      .cucarda__exclusiva {
        height: 24px;
        border-radius: 4px;
        @include flexCenter(row);
        background-color: var(--highligtLow);
        @include tokens.text-preset-responsive(1,2);
        @include tokens.roboto-medium;
        color: var(--highlightHigh);
        padding: 5px;

        &.mb { display: none;}        
      }
      
      .cucarda__exclusiva2 {
        height: 24px;
        border-radius: 4px;
        @include flexCenter(row);
        background-color: #F6ECF6;
        @include tokens.text-preset-responsive(1,2);
        @include tokens.roboto-medium;
        color: var(--promoHigh);
        padding: 5px;

        &.mb { display: none;}
      }
    }
  }

  


 @media (max-width: 992px) {
  #fibra__tener {    
  
    .titulo {      
      text-align: center;
      color: var(--textPrimary);
      margin: 0;
    }

    .four__columns,
    .three__columns {    
      .bloque,
      .bloque_mb_expandido {
        width: 100% !important;
      }
      .espaciado {
        margin-top: 32px;
      }
  }
    
    .main__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      gap: 32px;
      
      
      .bloque {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        gap: 12px;
        border-bottom: 1px solid var(--divider);
        padding:25px 16px;

        &:last-child {
          border-bottom: none;
        }
  
        
        .texto {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 2px;
          
          .titular {
            text-align: left;
            color: var(--textPrimary);
            margin: 0;
          }
          
          .descripcion {
            max-width: 349px !important;
            text-align: left;
          }
        }
  
        .cucarda__exclusiva {
          
          margin-bottom: 4px;
          text-wrap: nowrap;
          &.mb { display: flex;}
          &.dt { display: none;}
        }     
        .cucarda__exclusiva2 {
          
          margin-bottom: 4px;
          text-wrap: nowrap;
          &.mb { display: flex;}
          &.dt { display: none;}
        }
      }
    }
  }
 }


//Estilo particular para 3 columnas
#fibra__tener {
.three__columns .bloque,
.three__columns .bloque_mb_expandido {
  width: 392px;
 }
}

//Estilo particular para 4 columnas
#fibra__tener {
.four__columns .bloque,
.four__columns .bloque_mb_expandido {
  width: 288px;
 }
}



@media (max-width: 992px) {

  #fibra__tener {
    gap: 0;
    padding: 48px 0;

    .titulo {
      padding-bottom: 30px;
    }
    
    .three__columns,
    .four__columns {
      gap: 0px;
    }     

    .main__box {
      margin-top: 0px;
    }

      .texto {
       .descripcion {
        max-width: 349px !important;
      }
    }

    .bloque_mb_expandido {
      .texto {
        .descripcion {
        padding: 0 24px;
        }
      }
    }


  }
}    


///// ICONOS SVG CONFIGURACION


.bloque,
.bloque_mb_expandido {

  %icon-mask-brand {
    min-width: 48px;
    height: 48px;
    background-color: var(--brand);
    mask-size: cover;
    display: block;
  }

}

@media (max-width: 992px) {

  .bloque_mb_expandido {
    %icon-mask-brand {
      min-width: 48px;
      height: 48px;
    }
  }

  .bloque {
      %icon-mask-brand {
        min-width: 28px;
        height: 28px;
      }

  }
}


//// ICONOS SVG LLAMADOS


.offer-percent-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/offer-percent-regular.svg);
}

.pass-gigas-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/pass-gigas-regular.svg);
}

.whatsapp-regular-value {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/whatsapp-regular.svg);
}

.call-landline-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/call-landline-regular.svg);
}

.download-cloud-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/download-cloud-regular.svg);
}

.internet-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/internet-regular.svg);
}

.videogames-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/videogames-regular.svg);
}

.video-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/video-regular.svg);
}

.download-cloud-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/download-cloud-regular.svg);
}

.gift-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/gift-regular.svg);
}

.arrow-up-down-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/arrow-up-down-regular.svg);
}

.smart-wifi-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/smart-wifi-regular.svg);
}

.antenna-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/antenna-regular.svg);
}

.router-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/router-regular.svg);
}

.call-center-user-support-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/call-center-user-support-regular.svg);
}

.shield-checked-ok-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/shield-checked-ok-regular.svg);
}

.multideviceo-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/multideviceo-regular.svg);
}

.shared-gb-device-mobile-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/shared-gb-device-mobile-regular.svg);
}

.outgoing-call-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/outgoing-call-regular.svg);
}

.credit-card-visa-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/credit-card-visa-regular.svg);
}

.wallet-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/wallet-regular.svg);
}

.pay-invoice-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/pay-invoice-regular.svg);
}

.tv-content-regular {
  @extend %icon-mask-brand;
  mask-image: url(/imagenes/icons-Kenos/regular/tv-content-regular.svg);
}

